:root {
    --global-font-size: 16px;
    --font-color: #333333;
    --hover-color: #c0c0c0;
    --text-shadow: 0 2px 5px #00000033;
    --box-shadow: 0 0 10px 0 #00000033;
    --hover-box-shadow: 0 0 10px 0 #00000066;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif !important;
}

svg {
    position: relative !important;
    transform: translate(0, 25%) !important;
}

/* 背景 */
#web_bg {
    z-index: 2147483647;
    background: #ffffff;
}

/* 滚动条 */
::-webkit-scrollbar,
::-webkit-scrollbar-button {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M12 4 22 20 2 20Z' fill='%23c1c1c1'/%3E%3C/svg%3E");
    background-position: center center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M12 20 2 4 22 4Z' fill='%23c1c1c1'/%3E%3C/svg%3E");
    background-position: center center;
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-color: #c1c1c1;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
    background: transparent;
}

/* 导航栏 */
#page-header #nav {
    background: none !important;
    box-shadow: none !important;
    backdrop-filter: none !important;
}

#nav .site-name,
#nav .site-page {
    color: var(--font-color);
    text-shadow: none;
}

/* 卡片 */
.cardHover,
.layout > div:first-child:not(.nc),
#recent-posts .recent-post-item,
#article-container .shuoshuo-item,
#aside-content .card-widget,
.layout .pagination > *:not(.space) {
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: var(--box-shadow);
}

.cardHover:hover,
.layout > div:first-child:not(.nc):hover,
#recent-posts .recent-post-item:hover,
#article-container .shuoshuo-item:hover,
#aside-content .card-widget:hover,
.layout .pagination > *:not(.space):hover {
    box-shadow: var(--hover-box-shadow);
}

/* 内容 */
.layout {
    width: 80%;
    max-width: none;
}

.layout > div:first-child {
    width: 80%;
}

/* 侧边栏 */
#aside-content {
    width: 20%;
    font-weight: 700;
}

@media screen and (max-width: 900px) {

    .layout > div:first-child,
    #aside-content {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    #aside-content {
        padding: 0 1rem 0 0;
    }
}

/* 侧边栏头像 */
/* 侧边栏描述图标链接 */
.avatar-img img,
#aside-content .card-info .card-info-social-icons i:hover {
    transition: none;
}

/* 侧边栏分类 */
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    color: var(--font-color);
    background: none;
}

/* 侧边栏标签 */
#aside-content .card-tag-cloud a:hover {
    color: var(--hover-color) !important;
}

/* 侧边栏目录 */
#aside-content #card-toc .toc-content .toc-link {
    color: var(--font-color);
}

#aside-content #card-toc .toc-content .toc-link:hover,
#aside-content #card-toc .toc-content .toc-link.active {
    color: #3399ee;
    background: none;
}

/* 主页背景 */
#page-header,
#page-header:not(.not-top-img):before {
    background: none;
}

/* 主页标题 */
#page-header #site-title,
#page-header #site-subtitle {
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#page-header #site-title {
    font-size: 4rem;
}

#page-header #site-subtitle {
    font-size: 2rem;
    font-family: consolas;
}

/* 主页下箭头 */
#page-header #scroll-down .scroll-down-effects {
    font-size: 60px;
    color: var(--font-color);
}

/* 文章标题 */
/* 文章设置信息 */
#post-info .post-title,
#post-meta .meta-firstline,
#post-meta .meta-secondline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-info .post-title,
#post-info #post-meta,
#post-info #post-meta a {
    color: var(--font-color);
}

#post-info .post-title {
    font-weight: 700;
    font-size: 4rem;
    text-shadow: var(--text-shadow);
}

#post-info #post-meta a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

/* 主页最近文章标题 */
/* 主页最近文章设置信息 */
#recent-posts .recent-post-item > .recent-post-info > .article-title,
#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap,
#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap a {
    color: var(--font-color);
}

#recent-posts .recent-post-item > .recent-post-info > .article-title {
    font-weight: 700;
    font-size: 2rem;
}

#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap .article-meta-separator {
    margin: 0 0.5rem 0 0.5rem;
}

/* 文章底部标签 */
#post .tag_share .post-meta__tags {
    border: none;
    border-radius: 0;
    font-size: 1rem;
    transition: none;
}

#post .tag_share .post-meta__tags:hover {
    background: none;
    transform: none;
}

/* 文章内容 */
#article-container pre,
#article-container code {
    font-family: ui-monospace, consolas, monospace, 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}

/* archives 页面 */
.article-sort-title,
.article-sort-item.year,
.article-sort-item-time,
.article-sort-item-title {
    font-weight: 700;
    color: var(--font-color);
}

/* archives 页面文章数 */
.article-sort-title {
    font-size: 2rem;
}

/* archives 页面年 */
.article-sort-item.year {
    font-size: 1.5rem;
    border-bottom: 2px solid #cccccc;
}

/* archives 页面创建时间 */
.article-sort-item-time {
    font-size: 1.2rem;
}

.article-sort-item.no-article-cover .article-sort-item-info {
    padding: 0 0 0 1rem;
}

/* archives 页面文章标题 */
.article-sort-item-title {
    font-size: 1.5rem;
}

/* categories 页面 */
.category-lists .category-list .category-list-count {
    margin-left: 0;
    color: var(--font-color);
}

.category-lists .category-list .category-list-count::before {
    content: '「';
}

.category-lists .category-list .category-list-count::after {
    content: '」';
}

/* tags 页面 */
.tag-cloud-list a {
    transition: all 0.5s ease 0s;
}

.tag-cloud-list a:hover {
    color: var(--hover-color) !important;
    background: none !important;
    box-shadow: none;
    transform: none;
}

/* 当前页 */
#pagination .page-number.current {
    border-radius: 5px !important;
    font-weight: 700 !important;
    color: var(--font-color) !important;
    background: #ffffff !important;
    opacity: 0.8 !important;
}

/* 右侧底部按钮 */
#rightside {
    right: 0;
    bottom: 2rem;
}

#rightside > div > button,
#rightside > div > a {
    color: var(--font-color);
    background: none !important;
    box-shadow: none !important;
}

#rightside-config-hide,
#rightside-config {
    display: none !important;
}

#go-up {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#go-up i {
    transform: none !important;
}

#go-up .arrow-icon-container {
    --arrow-width: 16px;
    --arrow-height: 4px;
    --arrow-border-radius: var(--arrow-height);
    --arrow-offset: 27%;
    --arrow-negative-offset: calc(-1 * var(--arrow-offset));
}

#go-up .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: currentColor;
}

#go-up .arrow::before,
#go-up .arrow::after {
    content: '';
    position: absolute;
    width: var(--arrow-width);
    height: var(--arrow-height);
    border-radius: var(--arrow-border-radius);
    background: inherit;
}

#go-up .arrow::before {
    transform: translate(var(--arrow-offset), 0%) rotate(45deg);
}

#go-up .arrow::after {
    transform: translate(var(--arrow-negative-offset), 0%) rotate(135deg);
}

#go-up.show-percent .scroll-percent {
    font-weight: 700;
}

/* 页脚 */
#footer {
    background: none;
}

#footer > * {
    color: var(--font-color);
}

.footer_custom_text,
#copyright-text,
#framework-text,
#runtime-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_custom_text {
    flex-flow: column nowrap;
    gap: 1rem 0;
}

.footer_custom_text > div {
    text-align: center;
}

#framework-text,
#runtime-text {
    gap: 0 0.5rem;
}